# VS code
.vscode/

# Local History for Visual Studio Code
.history/

# ignore class files
target/

# ignore properties files
*.properties

# ignore metrics output
metrics.txt

# ignore sensitive AWS credentials file
aws_credentials
