[default]
aws_access_key_id=ASIATF3DA6277GHIPMF2
aws_secret_access_key=lTG8t245HUhsJXf+deSDDqeIIBNJkAnlkdxiid0/
aws_session_token=FwoGZXIvYXdzEGoaDKDVJHsjlP1o3FE9/iLTAYmBTBjQpMfB1LwkrXMV+eQQeIohANbjk6QOc+O/7eWmHdwP43uiBL2qZkwrO0NUGKhuXogIQu1GYJBdUz1eZBVFQPOl9PNox3fn7y+SxP7NWkbLSLwGEvBs8cENuzfDAjZBF4MXfqpWThrj0uAW2RibnchB/icYhkqCW/9+7aY4r8Wqn5OgFsWOPbnAsQFhHiKz3/+LOwklAEwbqeq3UksUkPNF/NoxRrsjoRszOUyC6dsEBVjvQUziZIddbnAyu9Li+OZgb359eN25wUa/6ihcFQAosLXG9QUyLdwWJo8l42bisAroyDUM7oQmZPedfjbuXNKtip3HCEsmsVb3oVK6Z5haKaiXCg==
